
.iconRedes {
    font-size: 30px;
}

.iconFormAgendar{
    align-items: center;
    font-size: 20px;
    color: #d221d9
}


.formAgendarCita {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 25px;
    background: rgb(195 173 198 / 0.70);
    box-shadow: 7px 7px 15px #301431;
}

.backAgendarCita{
    background-image: url(../Imagenes/backAgendarCita.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.separador{
    height: 100px;
    background:red;
}


.logo{
    height: 60px;
    width: 250px;
}