body {
}

.horarioDiv {
    padding: 15px;
    border: 1px solid #7a1465;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(145,18,145,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(145,18,145,1);
    box-shadow: 0px 0px 10px 0px rgba(145,18,145,1);
}

.feriadosDiv {
    padding: 15px;
    border: 1px solid #7a1465;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(40,186,191,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(40,186,191,1);
    box-shadow: 0px 0px 10px 0px rgba(40,186,191,1);
}

.tablaDiv{
    height: 260px;
    overflow: auto;
}

.setting{
    font-size: 35px;
    color: #991aa8;
}

.feriadosADD {
    font-size: 35px;
    color: #2e14b4;
}

.divModals{
    border: 2px solid #0e0e12;
    padding: 10px;
    border-radius: 20px;
}
