
@{
    ViewBag.Title = "Ventas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Nueva Venta</h2>

<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <span>
            <a href="#">Registrar nueva venta</a>
        </span>
    </div>
    
    <div class="form-group">
        <span>
            <a href="#"> Buscar una venta</a>
        </span>
    </div>


</form>

