@{
    ViewBag.Title = "Inicio";
}

<section class="section">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <small class="form-text text-muted">
                        <i class="fas fa-tools"></i> Details
                    </small>
                </div>
                <div class="card-body">
                    <p class="font-weight-light text-sm-left" style="margin-bottom: 0rem;"></p>
                    <div class="row">
                        <div class="col-md-2 select-outline mb-2">
                            <small class="form-text text-muted">Price</small>
                            <input class="form-control" aria-describedby="inputGroup-sizing-sm" name="txt_fl" id="txt_fl" readonly> <i class="fa fa-equals float-right"></i>
                        </div>

                        <div class="col-md-1 select-outline mb-2">
                            <small class="form-text text-muted">&nbsp; Total</small>
                            <input class="form-control" aria-describedby="inputGroup-sizing-sm" name="txt_fl_result" id="txt_fl_result" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

Este cambio unicamente es para verificar el funcionamiento de github